@mixin btn-regis {
    display: inline-block;
    color: white !important;
    background-color: $tifColorOrange;
    border-radius: 2em;
    padding: 0.5em 2em;
    text-decoration: none;
    outline: 0 !important;
    -webkit-appearance: none;
    box-shadow: none;
    transition: all .6s ease;
    border: .1rem solid $tifColorOrange !important;
    &:hover {
        color: $tifColorOrange !important;
        background-color: $tifWhite !important;
        border: .1rem solid $tifColorOrange !important;
    }
}

@mixin fixed-batik-background {
    background: url('../images/bg-batik.jpg') no-repeat;
    background-size: cover;
}

@mixin fixed-gallery-background {
    background: url('../images/fixed_black.jpg') no-repeat;
    background-size: cover;
}

@mixin section-title {
    text-align: center;
    text-transform: uppercase;
    padding: 70px 0 40px;
    font-weight: 400 !important;
    h1 {
        font-size: 2.5rem;
        letter-spacing: .3rem;
        text-align: center;
    }
    .heading-underline {
        width: 3rem;
        height: .2rem;
        background-color: #f7941d;
        margin: 0 auto 2rem;
    }
}