// Body
$body-bg: #f5f4f4;
// Typography
$font-family-source-sans-pro: 'Source Sans Pro',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// Colors
$tifBlack: #505962;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #672f8f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$tifColorOrange: #672f8f;
$tifWhite: rgb(255, 255, 255);