//fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
// Variables
@import 'variables';
// Mixin
@import 'mixins';
// Mixin
@import 'sweetAlert';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
// styles
.modal-full {
    max-width: 94%;
    margin-left: 3%;
    margin-right: 3%
}

textarea:hover,
input:hover,
a,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    transition: all .6s ease;
}

.bg-tif {
    background-color: $tifColorOrange!important;
    color: $tifWhite;
}

html {
    padding: env(safe-area-inset);
}

html,
body {
    overflow-x: hidden;
    font-family: $font-family-source-sans-pro;
    color: $tifBlack;
    background-color: $body-bg;
}

.offset {
    &::before {
        content: "";
        height: 4.5rem;
        display: block;
        margin-top: -4.5rem;
    }
}

#navbarResponsive {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1rem;
    font-size: .9rem;
    /*transition: background-color .5s ease;*/
    border-bottom: 2px solid $tifColorOrange;
    padding: 1em 2.5em;
    background-color: $tifWhite;
    .navbar-brand img {
        height: 2.8em;
    }
    .navbar-nav li {
        padding-right: .8rem;
    }
    .navbar-nav .nav-link {
        color: black;
    }
    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link:hover {
        color: $tifColorOrange;
    }
    .custom-toggler {
        color: $tifColorOrange;
        font-size: 1.6rem;
    }
    .navbar.solid,
    .navbar.solid-toggle {
        background: rgba(255, 255, 255, 0.849);
        transition: background-color 1s ease;
    }
    .btn-registration {
        @include btn-regis;
    }
    .offcanvas-header {
        display: none;
    }
    @media (max-width: 992px) {
        .offcanvas-header {
            display: block;
        }
        .navbar-collapse {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 100%;
            width: 100%;
            padding-right: 1rem;
            padding-left: 1rem;
            overflow-y: auto;
            visibility: hidden;
            background-color: $tifWhite;
            transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
        }
        .navbar-collapse.show {
            visibility: visible;
            transform: translateX(-100%);
        }
    }
    @media (min-width: 768px) {
        .btn-regis-mobile {
            display: none !important;
        }
    }
}

@media (max-width: 575.98px) {
    .slide1 {
        background-image: url(/images/mobile_tif2.jpg) !important;
        background-repeat: no-repeat;
        background-size: 100% 100% !important;
    }
    .slide2 {
        background: url(/images/mobile_tif1.jpg) !important;
        background-repeat: no-repeat;
        background-size: 100% 100% !important;
    }
}

.modal-dialog-scrollable {
    display: -ms-flexbox;
    display: flex;
    max-height: calc(100% - 1rem);
}

.border-selected {
    border-color: #2e7d32!important;
    border: 3px solid;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .slide1 {
        background-image: url(/images/mobile_tif2.jpg) !important;
        background-repeat: no-repeat;
        background-size: 100% 100% !important;
    }
    .slide2 {
        background: url(/images/mobile_tif1.jpg) !important;
        background-repeat: no-repeat;
        background-size: 100% 100% !important;
    }
}

.table-scrollable {
    max-height: 22.5rem;
    overflow: auto
}

.header-carousel {
    .carousel-item {
        height: 100vh;
        /*--- Change Height of Image Slider --*/
        min-height: 18.75rem;
        /*--- (300px for mobile) --*/
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-color: white;
        /*--- For Firefox white between slides --*/
    }
    .carousel-item-next,
    .carousel-item-prev,
    .carousel-item.active {
        display: block;
        transition: -webkit-transform 1.2s ease;
        transition: transform 1.2s ease;
        transition: transform 1.2s ease, -webkit-transform 1.2s ease;
    }
}

.highlight {
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
    p,
    .lead {
        line-height: 1.7;
    }
    .countdown_wrap {
        margin-top: 40px;
        margin-bottom: 100px;
    }
    .countdown_wrap p {
        font-size: 22px;
        margin-bottom: 0;
    }
    #countdown,
    #countdown li {
        list-style: none;
    }
    #countdown {
        padding: 0;
        margin-bottom: 10px;
        text-align: center;
    }
    #countdown li {
        display: inline-block;
        width: 104px;
        text-align: center;
        background: $tifColorOrange;
        padding: 15px 5px;
        margin-right: 15px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    #countdown li span {
        font-size: 40px;
        font-weight: bold;
        color: $tifWhite;
        height: 108px;
        line-height: 1.0;
        position: relative;
        font-family: 'Source Sans Pro', sans-serif;
    }
    #countdown li p {
        margin-top: 5px;
        color: $tifWhite;
        text-transform: uppercase;
        font-size: .875em;
    }
    .countdown_title {
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
        font-weight: 700;
        letter-spacing: .1rem;
    }
    .countdown_wrap h1 {
        font-size: 2.5rem;
    }
}

.gallery {
    .title {
        @include section-title;
        h1 {
            color: $tifBlack !important;
        }
    }
    .timeline {
        position: relative;
        padding: 0;
        margin-top: 2em;
        margin-bottom: 0;
        &::before {
            /* this is the vertical line */
            content: '';
            position: absolute;
            top: 0;
            left: 6px;
            height: 100%;
            width: 3px;
        }
    }
    .timeline-block {
        position: relative;
        margin: 1em 0;
    }
    .timeline-block:after {
        content: "";
        display: table;
        clear: both;
    }
    .timeline-block:first-child {
        margin-top: 0;
    }
    .timeline-block:last-child {
        margin-bottom: 0;
    }
    @media only screen and (min-width: 1170px) {
        .timeline {
            margin-top: 3em;
            margin-bottom: 0;
        }
        .timeline::before {
            left: 50%;
            margin-left: -2px;
        }
    }
    @media only screen and (min-width: 1170px) {
        .timeline-block {
            margin: 2em 0;
        }
        .timeline-block:first-child {
            margin-top: 0;
        }
        .timeline-block:last-child {
            margin-bottom: 0;
        }
    }
    .timeline::before {
        background: $tifColorOrange;
    }
    .timeline-bullet,
    .highlighted-plan {
        border-color: $tifColorOrange;
    }
    .timeline-bullet {
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 3px solid;
        color: $tifColorOrange;
        background: $tifColorOrange;
    }
    @media only screen and (min-width: 1170px) {
        .timeline-bullet {
            width: 15px;
            height: 15px;
            left: 50%;
            margin-left: -8px;
            /* Force Hardware Acceleration in WebKit */
            -webkit-transform: translateZ(0);
            -webkit-backface-visibility: hidden;
        }
    }
    .timeline-content {
        position: relative;
        margin-left: 35px;
        min-height: 50px;
        margin-bottom: 10px;
    }
    .timeline-content:after {
        content: "";
        display: table;
        clear: both;
    }
    .timeline-content h2 {
        font-size: 18px;
        margin: 0;
    }
    .timeline-content p,
    .timeline-content .date {
        font-size: 13px;
    }
    .timeline-content .date {
        display: inline-block;
    }
    .timeline-content p {
        margin: 5px 0;
        line-height: 1.6;
        color: #B3B3B3;
    }
    .no-touch .timeline-content .read-more:hover {
        background-color: #bac4cb;
    }
    .timeline-content .date {
        float: left;
        padding: 0;
        font-weight: 600;
        color: #bac4cb;
    }
    @media only screen and (min-width: 768px) {
        .timeline-content {
            margin-left: 60px;
        }
        .timeline-content h2 {
            font-size: 18px;
            line-height: 1.0;
        }
        .timeline-content p {
            font-size: 14px;
            line-height: 1.0;
        }
        .timeline-content .read-more,
        .timeline-content .date {
            font-size: 14px;
        }
    }
    @media only screen and (min-width: 1170px) {
        .timeline-content {
            margin-left: 0;
            width: 47.3%;
        }
        .timeline .timeline-block:nth-child(odd) .timeline-content h2,
        .timeline .timeline-block:nth-child(odd) .timeline-content p {
            text-align: right;
        }
        .timeline-content::before {
            top: 24px;
            left: 100%;
            border-color: transparent;
            border-left-color: white;
        }
        .timeline-content .read-more {
            float: left;
        }
        .timeline-content .date {
            position: absolute;
            width: 100%;
            left: 112%;
            top: 0;
            font-size: 14px;
        }
        .timeline-block:nth-child(even) .timeline-content {
            float: right;
        }
        .timeline-block:nth-child(even) .timeline-content::before {
            top: 24px;
            left: auto;
            right: 100%;
            border-color: transparent;
            border-right-color: white;
        }
        .timeline-block:nth-child(even) .timeline-content .read-more {
            float: right;
        }
        .timeline-block:nth-child(even) .timeline-content .date {
            left: auto;
            right: 112%;
            text-align: right;
        }
    }
}

.category {
    .title {
        @include section-title;
        h1 {
            color: $tifBlack !important;
        }
    }
    .category-column {
        background-color: white;
        height: 100%;
        padding: 1.6rem;
        border-top: .25rem solid $tifColorOrange;
        box-shadow: 0 0 .8rem rgba(0, 0, 0, .075);
        /*transition: transform .7s ease;*/
        position: relative;
        overflow: hidden;
        .lead {
            font-size: 1rem;
            font-weight: 300;
        }
        .space-sub-title {
            padding-bottom: 0.5rem;
            line-height: 1.2;
        }
        .text-tif {
            color: $tifColorOrange;
        }
    }
    .category-column h4 {
        font-size: 1.1rem;
        font-weight: 700;
    }
    .btn-secondary {
        color: $tifWhite !important;
        background-color: $tifColorOrange !important;
        border: .1rem solid $tifColorOrange !important;
        padding: 0.5em 2em;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        &:hover {
            color: $tifColorOrange !important;
            background-color: $tifWhite !important;
            border: .1rem solid $tifColorOrange !important;
        }
    }
}

.subco {
    .title {
        @include section-title;
        h1 {
            color: $tifBlack !important;
        }
    }
}

#footer {
    // @include fixed-gallery-background;
    background-color: white;
    text-align: center;
    margin-top: 15px;
    padding-top: 70px;
    .footer_bottom-bg {
        min-height: 5em;
        padding: 20px 0 100px;
        a {
            @include btn-regis;
            letter-spacing: .1rem;
            padding: 15px 50px !important;
            font-size: 24px !important;
            font-weight: 600 !important;
        }
    }
    .headline-support {
        font-weight: 600;
        color: white;
        text-align: center;
    }
    .footer-action .headline {
        margin-top: 0;
    }
    .footer-action .headline-support {
        color: $tifWhite;
    }
    footer {
        text-align: center;
        padding: 40px 0 30px;
        .social-icons {
            padding-bottom: 20px;
        }
        .social-icons a {
            display: inline-block;
            padding: 0 5px;
        }
        .social-icons a i {
            background-color: $tifColorOrange;
            color: $tifWhite;
            font-size: 1.55em;
            width: 2.15em;
            height: 2.15em;
            line-height: 2.15em;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            text-align: center;
            margin: 0;
        }
        .social-icons a:hover {
            opacity: 0.8;
        }
    }
}

.sub-header-category {
    position: relative;
    padding: 10em 0 30px;
    color: #FFF;
    background-color: $tifColorOrange;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    .page-title {
        margin-bottom: 10px;
    }
}

.post-wrap,
.blog-content {
    margin: 50px 0;
    .post-entry,
    .entry-image {
        margin-bottom: 40px;
        padding: 19px;
        border: 1px solid $tifColorOrange;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        .post-heading {
            margin-top: 0;
            margin-bottom: 5px;
        }
        .post-meta {
            font-size: 13px;
        }
    }
}

.sidebar {
    margin: 50px 0;
    .sidebar-widget {
        margin-bottom: 30px;
    }
    .well {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    }
}

legend {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    margin-bottom: 1.25rem;
    border-bottom: 1px solid #ddd;
    font-size: 0.8125rem;
}

fieldset:first-child legend:first-child {
    padding-top: 0;
}

select[multiple],
select[size] {
    height: 200px;
    padding: 0;
}

select[multiple] option,
select[size] option {
    padding: 0.5rem 1.25rem;
    border-radius: 0.1875rem;
}

select[multiple] option+option,
select[size] option+option {
    margin-top: 1px;
}

.select2-container {
    outline: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.select2-selection--single {
    cursor: pointer;
    outline: 0;
    display: block;
    padding: 0.5rem 0;
    line-height: 1.5385;
    color: #333;
    position: relative;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all ease-in-out 0.15s;
}

@media (prefers-reduced-motion: reduce) {
    .select2-selection--single {
        transition: none;
    }
}

.select2-selection--single:focus,
.select2-container--open .select2-selection--single {
    border-bottom-color: $tifColorOrange;
    box-shadow: 0 1px 0 $tifColorOrange;
}

.select2-selection--single.text-white {
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

.select2-selection--single.text-white:focus,
.select2-container--open .select2-selection--single.text-white {
    border-bottom-color: #fff;
    box-shadow: 0 1px 0 #fff;
}

.select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 0;
    padding-right: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select2-selection--single .select2-selection__rendered>i {
    margin-right: 0.625rem;
}

.select2-selection--single .select2-selection__clear {
    position: relative;
    cursor: pointer;
    float: right;
    font-size: 0;
    line-height: 1;
    margin-top: 0.12502rem;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    opacity: 0.75;
    transition: opacity ease-in-out 0.15s;
}

@media (prefers-reduced-motion: reduce) {
    .select2-selection--single .select2-selection__clear {
        transition: none;
    }
}

.select2-selection--single .select2-selection__clear:hover {
    opacity: 1;
}

.btn-modal-regis {
    color: #fff;
    background-color: $tifColorOrange;
    border-color: $tifColorOrange;
}

.btn-modal-regis:hover {
    color: $tifColorOrange;
    background-color: $tifWhite;
    border-color: $tifColorOrange;
}

.select2-selection--single .select2-selection__clear:after {
    display: inline-block;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.select2-selection--single .select2-selection__placeholder {
    color: #999;
}

.select2-selection--single .select2-selection__arrow:after {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -0.5rem;
    font-size: 1rem;
    line-height: 1;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.select2-selection--single .select2-selection__arrow b {
    display: none;
}

.select2-container--disabled .select2-selection--single {
    cursor: default;
    box-shadow: none;
    border-bottom-style: dashed;
    color: #999;
}

.select2-container--disabled .select2-selection--single:focus {
    border-bottom-color: #ddd;
}

.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none;
}

.select2-selection--multiple {
    display: block;
    cursor: text;
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select2-selection--multiple.text-white .select2-selection__choice,
.select2-selection--multiple.text-white .select2-selection__choice:hover,
.select2-selection--multiple.text-white .select2-selection__choice:focus {
    background-color: #fff;
    color: #333;
}

.select2-selection--multiple .select2-selection__rendered {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.select2-selection--multiple .select2-selection__placeholder {
    color: #999;
}

.select2-container--disabled .select2-selection--multiple,
.select2-container--disabled .select2-selection--multiple .select2-selection__choice,
.select2-container--disabled .select2-selection--multiple .select2-search__field {
    cursor: default;
}

.select2-selection--multiple .select2-selection__choice {
    background-color: #eee;
    color: #333;
    cursor: default;
    float: left;
    margin-right: 0.625rem;
    margin-top: 0.0625rem;
    margin-bottom: 0.0625rem;
    padding: 0.5rem 1rem;
    white-space: normal;
    word-break: break-all;
    border-radius: 100px;
    transition: color ease-in-out 0.15s, background-color ease-in-out 0.15s;
}

@media (prefers-reduced-motion: reduce) {
    .select2-selection--multiple .select2-selection__choice {
        transition: none;
    }
}

.select2-selection--multiple .select2-selection__choice:hover,
.select2-selection--multiple .select2-selection__choice:focus {
    background-color: #03A9F4;
    color: #fff;
}

.select2-selection--multiple .select2-selection__choice>i {
    margin-right: 0.625rem;
}

.select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
    cursor: pointer;
    float: right;
    font-size: 0.875rem;
    margin-top: 0.18752rem;
    line-height: 1;
    margin-left: 0.625rem;
    opacity: 0.75;
    transition: opacity ease-in-out 0.15s;
}

@media (prefers-reduced-motion: reduce) {
    .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
        transition: none;
    }
}

.select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove:hover {
    opacity: 1;
}

.select2-container--disabled .select2-selection--multiple .select2-selection__choice {
    opacity: 0.6;
}

.select2-container--disabled .select2-selection--multiple .select2-selection__choice:hover,
.select2-container--disabled .select2-selection--multiple .select2-selection__choice:focus {
    background-color: #eee;
    color: #333;
}

.select2-container--disabled .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
    display: none;
}

.select2-selection--multiple .select2-search--inline {
    float: left;
}

.select2-selection--multiple .select2-search--inline .select2-search__field {
    font-size: 100%;
    margin-top: 0.0625rem;
    margin-bottom: 0.0625rem;
    padding: 0.5rem 0;
    background-color: transparent;
    border-width: 0;
    outline: 0;
    color: inherit;
    -webkit-appearance: textfield;
}

.select2-selection--multiple .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.select2-selection--multiple .select2-search--inline:first-child .select2-search__field {
    margin-left: 0;
}

.select2-dropdown {
    background-color: #fff;
    color: #333;
    border: 0 solid rgba(0, 0, 0, 0.15);
    display: block;
    position: absolute;
    /*rtl:ignore*/
    left: -100000px;
    width: 100%;
    z-index: 1070;
    border-radius: 0.1875rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.select2-results {
    display: block;
}

.select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0;
}

.select2-results>.select2-results__options {
    padding-bottom: 0.5rem;
    max-height: 280px;
    overflow-y: auto;
}

.select2-search--hide+.select2-results>.select2-results__options {
    padding-top: 0.5rem;
}

.select2-results:first-child>.select2-results__options {
    padding-top: 0.5rem;
}

.select2-results__option {
    padding: 0.5rem 1.25rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all ease-in-out 0.15s;
}

@media (prefers-reduced-motion: reduce) {
    .select2-results__option {
        transition: none;
    }
}

.select2-results__option+.select2-results__option {
    margin-top: 1px;
}

.select2-results__option i {
    margin-right: 0.625rem;
}

.select2-results__option i.icon-undefined {
    display: none;
}

.select2-results__option[role=group] {
    padding: 0;
}

.select2-results__option.select2-results__option--highlighted {
    background-color: #f5f5f5;
    color: #333;
}

.select2-results__option[aria-disabled=true] {
    color: #999;
    cursor: default;
}

.select2-dropdown[class*=bg-] .select2-results__option[aria-disabled=true] {
    color: rgba(255, 255, 255, 0.6);
}

.select2-results__option[aria-selected=true] {
    color: #fff;
    background-color: $tifColorOrange;
}

.select2-results__options--nested>.select2-results__option {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.select2-results__group {
    display: block;
    padding: 0.5rem 1.25rem;
    cursor: default;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.select2-results__option:first-child>.select2-results__group {
    margin-top: 0;
}

.select2-results__message {
    color: #999;
    cursor: default;
}

.select2-dropdown[class*=bg-] .select2-results__message {
    color: rgba(255, 255, 255, 0.75);
}

.select2-results__option.loading-results {
    padding-top: 0;
}

.select2-results__option.loading-results+.select2-results__option {
    margin-top: 0.5rem;
}

.select2-results__option--load-more {
    text-align: center;
    margin-top: 0.5rem;
    cursor: default;
}

.select2-container--open .select2-dropdown {
    /*rtl:ignore*/
    left: 0;
}

.select2-container--open .select2-dropdown--below {
    margin-top: 1px;
}

.select2-search--dropdown {
    display: block;
    position: relative;
    padding: 1.25rem;
}

.select2-search--dropdown:after {
    position: absolute;
    top: 50%;
    left: 1.25rem;
    color: inherit;
    display: block;
    font-size: 0.8125rem;
    margin-top: -0.40625rem;
    line-height: 1;
    opacity: 0.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.select2-search--dropdown+.select2-results .select2-results__message:first-child {
    padding-top: 0;
}

.select2-search--dropdown .select2-search__field {
    padding: 0.5rem 0;
    padding-left: 2.0625rem;
    border: 1px solid transparent;
    border-width: 1px 0;
    border-bottom-color: #ddd;
    outline: 0;
    width: 100%;
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.select2-search--dropdown.select2-search--hide {
    display: none;
}

.select-lg.select2-selection--single {
    padding: 0.625rem 0;
    font-size: 0.875rem;
    line-height: 1.4286;
}

.select-lg.select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    padding-right: 1.5rem;
}

.select-lg.select2-selection--single .select2-selection__arrow:after {
    right: 0;
}

.select-lg.select2-selection--multiple .select2-selection__choice {
    padding: 0.625rem 1.125rem;
    font-size: 0.875rem;
    line-height: 1.4286;
}

.select-lg.select2-selection--multiple .select2-search--inline .select2-search__field {
    padding: 0.625rem 0;
    font-size: 0.875rem;
    line-height: 1.4286;
}

.select-sm.select2-selection--single {
    padding: 0.375rem 0;
    font-size: 0.75rem;
    line-height: 1.6667;
}

.select-sm.select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    padding-right: 1.5rem;
}

.select-sm.select2-selection--single .select2-selection__arrow:after {
    right: 0;
}

.select-sm.select2-selection--multiple .select2-selection__choice {
    padding: 0.375rem 0.875rem;
    font-size: 0.75rem;
    line-height: 1.6667;
}

.select-sm.select2-selection--multiple .select2-search--inline .select2-search__field {
    padding: 0.375rem 0;
    font-size: 0.75rem;
    line-height: 1.6667;
}

.select2-dropdown[class*=bg-] .select2-search--dropdown .select2-search__field {
    background-color: transparent;
    border-bottom-color: rgba(255, 255, 255, 0.5);
    color: #fff;
}

.select2-dropdown[class*=bg-] .select2-results__option[aria-selected=true] {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.select2-dropdown[class*=bg-] .select2-results__option--highlighted {
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
}

.select2-close-mask {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    z-index: 99;
    background-color: #fff;
    opacity: 0;
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: fixed !important;
    width: 1px !important;
}

.select2-result-repository {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.select2-result-repository__avatar {
    float: left;
    width: 60px;
    margin-right: 0.9375rem;
}

.select2-result-repository__avatar img {
    width: 100%;
    height: auto;
    border-radius: 100px;
}

.select2-result-repository__meta {
    margin-left: 70px;
}

.select2-result-repository__title {
    font-weight: 500;
    word-wrap: break-word;
    margin-bottom: 2px;
}

.select2-result-repository__forks,
.select2-result-repository__stargazers,
.select2-result-repository__watchers {
    display: inline-block;
    font-size: 0.75rem;
}

.select2-result-repository__description {
    font-size: 0.75rem;
}

.select2-result-repository__forks,
.select2-result-repository__stargazers {
    margin-right: 0.9375rem;
}

.form-control {
    background-clip: border-box;
    border-width: 1px 0;
    border-top-color: transparent !important;
    &:focus {
        border-bottom: .1rem solid $tifColorOrange;
        box-shadow: 0 1px 0 $tifColorOrange;
        transition: all .2s ease;
        ;
    }
}

.form-control:disabled,
.form-control[readonly] {
    border-bottom-style: dashed;
}

.form-control:disabled {
    color: #999;
}

.form-control[readonly] {
    box-shadow: none;
    border-bottom-color: #ddd !important;
}

.form-control.border-success:focus {
    box-shadow: 0 1px 0 #4CAF50;
}

.form-control.border-danger:focus {
    box-shadow: 0 1px 0 #F44336;
}

.form-control.border-warning:focus {
    box-shadow: 0 1px 0 #FF7043;
}

.form-control.border-primary:focus {
    box-shadow: 0 1px 0 #2196F3;
}

.form-control.border-info:focus {
    box-shadow: 0 1px 0 $tifColorOrange;
}

.form-control.text-white {
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

.form-control.text-white:focus {
    border-bottom-color: #fff;
    box-shadow: 0 1px 0 #fff;
}

.form-control.text-white::-webkit-input-placeholder {
    color: #fff;
}

.form-control.text-white::-moz-placeholder {
    color: #fff;
}

.form-control.text-white:-ms-input-placeholder {
    color: #fff;
}

.form-control.text-white::-ms-input-placeholder {
    color: #fff;
}

.form-control.text-white::placeholder {
    color: #fff;
}

.form-group .form-group:last-child {
    margin-bottom: 0;
}

@media (max-width: 767.98px) {
    .form-group [class*="col-md-"]:not([class*=col-form-label])+[class*="col-md-"] {
        margin-top: 1.25rem;
    }
}

@media (max-width: 991.98px) {
    .form-group [class*="col-lg-"]:not([class*=col-form-label])+[class*="col-lg-"] {
        margin-top: 1.25rem;
    }
}

@media (max-width: 1199.98px) {
    .form-group [class*="col-xl-"]:not([class*=col-form-label])+[class*="col-xl-"] {
        margin-top: 1.25rem;
    }
}

@media (max-width: 767.98px) {
    [class*=col-form-label][class*="col-md-"] {
        padding-top: 0;
    }
}

@media (max-width: 991.98px) {
    [class*=col-form-label][class*="col-lg-"] {
        padding-top: 0;
    }
}

@media (max-width: 1199.98px) {
    [class*=col-form-label][class*="col-xl-"] {
        padding-top: 0;
    }
}

.form-check:not(.form-check-inline) {
    margin-bottom: 0.5rem;
}

.form-check:not(.form-check-inline):last-child {
    margin-bottom: 0;
}

.form-group.row .form-check:not(.dropdown-item) {
    margin-top: 0.5625rem;
}

.form-check.disabled {
    color: #999;
}

.form-check.disabled .form-check-label {
    cursor: default;
}

.form-check-input:disabled~.form-check-label {
    cursor: default;
}

.form-check-label {
    cursor: pointer;
}

.form-check-inline .form-check-label {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.form-check-inline .form-check-input {
    margin-top: 0.3rem;
}

.form-check-inline:last-child {
    margin-right: 0;
}

.form-check-inline input {
    position: static;
}

.form-check-right {
    padding-left: 0;
    padding-right: 1.875rem;
}

.form-check-right .form-check-input,
.form-check-right input {
    left: auto;
    right: 0;
}

.form-check-right.form-check-inline {
    padding: 0;
}

.form-check-right.form-check-inline .form-check-input {
    margin-right: 0;
    margin-left: 0.625rem;
}

.form-group-feedback {
    position: relative;
}

.form-group-feedback-left .form-control-feedback {
    left: 0;
}

.form-group-feedback-left .form-control {
    padding-left: 2rem;
}

.form-group-feedback-left .form-control-lg {
    padding-left: 2.125rem;
}

.form-group-feedback-left .form-control-sm {
    padding-left: 1.875rem;
}

.form-group-feedback-right .form-control-feedback {
    right: 0;
}

.form-group-feedback-right .form-control {
    padding-right: 2rem;
}

.form-group-feedback-right .form-control-lg {
    padding-right: 2.125rem;
}

.form-group-feedback-right .form-control-sm {
    padding-right: 1.875rem;
}

.form-control-feedback {
    position: absolute;
    top: 0;
    color: #333;
    padding-left: 0;
    padding-right: 0;
    line-height: calc(1.5385em + 1rem + 2px);
    min-width: 1rem;
}

.form-control-feedback-lg {
    padding-left: 0;
    padding-right: 0;
    line-height: calc(1.4286em + 1.25rem + 2px);
}

.form-control-feedback-sm {
    padding-left: 0;
    padding-right: 0;
    line-height: calc(1.6667em + 0.75rem + 2px);
}

input[class*=bg-]:not(.bg-light):not(.bg-white):not(.bg-transparent)+.form-control-feedback {
    color: #fff;
}


/* ------------------------------------------------------------------------------
*
*  # Steps wizard
*
*  Styles for steps.min.js - An all-in-one wizard plugin that is extremely flexible, compact and feature-rich
*
* ---------------------------------------------------------------------------- */

.wizard {
    width: 100%;
}

.wizard>.steps .current-info,
.wizard>.content>.title {
    display: none;
}

.wizard>.content {
    position: relative;
    width: auto;
    padding: 0;
}

.wizard>.content>.body {
    padding: 0 1.25rem;
}

.wizard>.content>iframe {
    border: 0;
    width: 100%;
    height: 100%;
}

.wizard>.steps {
    position: relative;
    display: block;
    width: 100%;
}

.wizard>.steps>ul {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin: 0;
    padding: 0;
    list-style: none;
}

.wizard>.steps>ul>li {
    display: table-cell;
    width: auto;
    vertical-align: top;
    text-align: center;
    position: relative;
}

.wizard>.steps>ul>li a {
    position: relative;
    padding-top: 3rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    display: block;
    outline: 0;
    color: #999;
}

.wizard>.steps>ul>li:before,
.wizard>.steps>ul>li:after {
    content: '';
    display: block;
    position: absolute;
    top: 2.375rem;
    width: 50%;
    height: 2px;
    background-color: $tifColorOrange;
    z-index: 9;
}

.wizard>.steps>ul>li:before {
    left: 0;
}

.wizard>.steps>ul>li:after {
    right: 0;
}

.wizard>.steps>ul>li:first-child:before,
.wizard>.steps>ul>li:last-child:after {
    content: none;
}

.wizard>.steps>ul>li.current:after,
.wizard>.steps>ul>li.current~li:before,
.wizard>.steps>ul>li.current~li:after {
    background-color: #eee;
}

.wizard>.steps>ul>li.current>a {
    color: #333;
    cursor: default;
}

.wizard>.steps>ul>li.current .number {
    font-size: 0;
    border-color: $tifColorOrange;
    background-color: #fff;
    color: $tifColorOrange;
}

.wizard>.steps>ul>li.current .number:after {
    content: "\f044";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease-in-out 0.15s;
}

@media (prefers-reduced-motion: reduce) {
    .wizard>.steps>ul>li.current .number:after {
        transition: none;
    }
}

.wizard>.steps>ul>li.disabled a {
    cursor: default;
}

.wizard>.steps>ul>li.done a,
.wizard>.steps>ul>li.done a:hover,
.wizard>.steps>ul>li.done a:focus {
    color: #999;
}

.wizard>.steps>ul>li.done .number {
    font-size: 0;
    background-color: $tifColorOrange;
    border-color: $tifColorOrange;
    color: #fff;
}

.wizard>.steps>ul>li.done .number:after {
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease-in-out 0.15s;
}

@media (prefers-reduced-motion: reduce) {
    .wizard>.steps>ul>li.done .number:after {
        transition: none;
    }
}

.wizard>.steps>ul>li.error .number {
    border-color: #F44336;
    color: #F44336;
}

.card>.card-header:not([class*=bg-])>.wizard>.steps>ul {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

@media (max-width: 991.98px) {
    .wizard>.steps>ul {
        margin-bottom: 1.25rem;
    }
    .wizard>.steps>ul>li {
        display: block;
        float: left;
        width: 50%;
    }
    .wizard>.steps>ul>li>a {
        margin-bottom: 0;
    }
    .wizard>.steps>ul>li:first-child:before,
    .wizard>.steps>ul>li:last-child:after {
        content: '';
    }
    .wizard>.steps>ul>li:last-child:after {
        background-color: $tifColorOrange;
    }
}

@media (max-width: 767.98px) {
    .wizard>.steps>ul>li {
        width: 100%;
    }
    .wizard>.steps>ul>li.current:after {
        background-color: $tifColorOrange;
    }
}

.wizard>.steps .number {
    background-color: #fff;
    color: #ccc;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1.1875rem;
    border: 2px solid #eee;
    font-size: 0.875rem;
    z-index: 10;
    line-height: 2.125rem;
    text-align: center;
    width: 2.375rem;
    height: 2.375rem;
    border-radius: 50%;
}

.wizard>.actions {
    position: relative;
    text-align: center;
    padding: 1.25rem;
    padding-top: 0;
}

.wizard>.actions>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.wizard>.actions>ul::after {
    display: block;
    clear: both;
    content: "";
}

.wizard>.actions>ul>li {
    display: inline-block;
}

.wizard>.actions>ul>li+li {
    margin-left: 1.25rem;
}

.btn-primary {
    color: #fff !important;
    background-color: $tifColorOrange !important;
    border-color: $tifColorOrange !important;
}

.btn-primary:hover {
    color: $tifColorOrange !important;
    background-color: $tifWhite !important;
    border-color: $tifColorOrange !important;
}