.sidebar-user-material .sidebar-user-material-body {
    background: url(/images/backgrounds/user_bg4.jpg) center center no-repeat;
    background-size: cover;
}

.btn-primary-red {
    color: #fff;
    background-color: #EC4040;
    border-color: #EC4040;
}

.bg-indigo {
    background-color: #5F96FD;
    ;
    border-color: #5F96FD;
    ;
    color: #fff;
}

body.swal2-shown>[aria-hidden="true"] {
    transition: 0.1s filter;
    filter: blur(3px);
}

@media (max-width: 575px) {
    .space {
        margin-top: 5px;
    }
}

.login-cover {
    background: url('../images/login_cover.jpg') no-repeat;
    background-size: cover;
}


/*// Small devices (landscape phones, 576px and up)*/

@media (max-width: 575px) {
    .space {
        margin-top: 5px;
    }
    .dataTables_processing {
        position: inherit;
        top: 50%;
        left: 50%;
        width: 100%;
        margin-left: -100%;
        margin-top: -25px;
        padding-top: 20px;
        background-color: rgba(255, 255, 255, 0.3);
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .space {
        margin-top: 5px;
    }
    .dataTables_processing {
        position: inherit;
        top: 50%;
        left: 50%;
        width: 100%;
        margin-left: -100%;
        margin-top: -25px;
        padding-top: 20px;
        background-color: rgba(255, 255, 255, 0.3);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .space {
        margin-top: 5px;
    }
    .dataTables_processing {
        position: inherit;
        top: 50%;
        left: 50%;
        width: 100%;
        margin-left: -100%;
        margin-top: -25px;
        padding-top: 20px;
        background-color: rgba(255, 255, 255, 0.3);
    }
}


/*// Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    .space {
        margin-top: 5px;
    }
    .dataTables_processing {
        position: inherit;
        top: 50%;
        left: 50%;
        width: 100%;
        margin-left: -30%;
        margin-top: -25px;
        padding-top: 20px;
        background-color: rgba(255, 255, 255, 0.3);
    }
}

.btn-primary-red {
    color: #fff;
    background-color: #EC4040;
    border-color: #EC4040;
}

.bg-primary {
    background-color: #5F96FD;
    border-color: #5F96FD;
    color: #fff;
}

.dataTables_filter input {
    outline: 0;
    width: 800px;
    height: 38px;
    padding: 8px 0;
    padding-right: 24px;
    font-size: 13px;
    line-height: 1.5384616;
    color: #333333;
    background-color: transparent;
    border: 1px solid transparent;
    border-width: 1px 0;
    border-bottom-color: #ddd;
}

.dataTables_filter {
    position: relative;
    display: block;
    float: left;
    margin-top: 1rem;
    margin-right: 0px;
    margin-bottom: 1.25rem;
    margin-left: 1.25rem
}

.dataTables_info {
    float: left;
    padding-top: 0.5rem;
    padding-right: 0px;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    margin-bottom: 1.25rem;
}

.dataTables_filter input:focus {
    border-bottom-color: #0064D2;
    -webkit-box-shadow: 0 1px 0 #5F96FD;
    box-shadow: 0 1px 0 #5F96FD;
}

.dropdown-menu>.dropdown-submenu.active>a {
    background-color: #5F96FD;
    color: #fff;
}

.datepicker table tr td.active,
.datepicker table tr td span.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td span.active.disabled,
.datepicker table tr td.active:hover,
.datepicker table tr td span.active:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover {
    background-color: #5F96FD;
    color: #fff;
}

.ui-datepicker table td.ui-datepicker-current-day .ui-state-active {
    background-color: #5F96FD;
    color: #fff;
}

.ui-datepicker table td.ui-datepicker-today .ui-state-highlight {
    background-color: #ffd400;
    color: #fff;
}

.sidebar-default .navigation li.active>a,
.sidebar-default .navigation li.active>a:hover,
.sidebar-default .navigation li.active>a:focus {
    background-color: #eeeded;
    color: #000000;
}

.select2-results__option[aria-selected=true] {
    background-color: #5F96FD;
    color: #fff;
}

.select2-container--focus .select2-selection--single:not([class*=bg-]):not([class*=border-]),
.select2-container--open .select2-selection--single:not([class*=bg-]):not([class*=border-]) {
    border-bottom-color: #5F96FD;
    -webkit-box-shadow: 0 1px 0 #5F96FD;
    box-shadow: 0 1px 0 #5F96FD;
}

.btn-yellow-cancel {
    color: #fff;
    background-color: #ffd400;
    border-color: #ffd400;
}

.btn-yellow-cancel:focus,
.btn-yellow-cancel.focus {
    color: #fff;
    background-color: #ffd400;
    border-color: #ffd400;
}

.btn-yellow-cancel:hover {
    color: #fff;
    background-color: #ffd400;
    border-color: #ffd400;
}

.btn-yellow-cancel:active,
.btn-yellow-cancel.active,
.open>.dropdown-toggle.btn-yellow-cancel {
    color: #fff;
    background-color: #ffd400;
    border-color: #ffd400;
}

.btn-yellow-cancel:active:hover,
.btn-yellow-cancel.active:hover,
.open>.dropdown-toggle.btn-yellow-cancel:hover,
.btn-yellow-cancel:active:focus,
.btn-yellow-cancel.active:focus,
.open>.dropdown-toggle.btn-yellow-cancel:focus,
.btn-yellow-cancel:active.focus,
.btn-yellow-cancel.active.focus,
.open>.dropdown-toggle.btn-yellow-cancel.focus {
    color: #fff;
    background-color: #ffd400;
    border-color: #ffd400;
}

.btn-yellow-cancel:active,
.btn-yellow-cancel.active,
.open>.dropdown-toggle.btn-yellow-cancel {
    background-image: none;
}

.btn-yellow-cancel.disabled:hover,
.btn-yellow-cancel[disabled]:hover,
fieldset[disabled] .btn-yellow-cancel:hover,
.btn-yellow-cancel.disabled:focus,
.btn-yellow-cancel[disabled]:focus,
fieldset[disabled] .btn-yellow-cancel:focus,
.btn-yellow-cancel.disabled.focus,
.btn-yellow-cancel[disabled].focus,
fieldset[disabled] .btn-yellow-cancel.focus {
    background-color: #ffd400;
    border-color: #ffd400;
}

.form-control:focus {
    outline: 0;
    border-color: transparent;
    border-bottom-color: #5F96FD;
    -webkit-box-shadow: 0 1px 0 #5F96FD;
    box-shadow: 0 1px 0 #5F96FD;
}

.btn-blue-success {
    color: #fff;
    background-color: #5F96FD;
    border-color: #5F96FD;
}

.btn-blue-success:focus,
.btn-blue-success.focus {
    color: #fff;
    background-color: #5F96FD;
    border-color: #5F96FD;
}

.btn-blue-success:hover {
    color: #fff;
    background-color: #5F96FD;
    border-color: #5F96FD;
}

.btn-blue-success:active,
.btn-blue-success.active,
.open>.dropdown-toggle.btn-blue-success {
    color: #fff;
    background-color: #5F96FD;
    border-color: #5F96FD;
}

.btn-blue-success:active:hover,
.btn-blue-success.active:hover,
.open>.dropdown-toggle.btn-blue-success:hover,
.btn-blue-success:active:focus,
.btn-blue-success.active:focus,
.open>.dropdown-toggle.btn-blue-success:focus,
.btn-blue-success:active.focus,
.btn-blue-success.active.focus,
.open>.dropdown-toggle.btn-blue-success.focus {
    color: #fff;
    background-color: #5F96FD;
    border-color: #5F96FD;
}

.btn-blue-success:active,
.btn-blue-success.active,
.open>.dropdown-toggle.btn-blue-success {
    background-image: none;
}

.btn-blue-success.disabled:hover,
.btn-blue-success[disabled]:hover,
fieldset[disabled] .btn-blue-success:hover,
.btn-blue-success.disabled:focus,
.btn-blue-success[disabled]:focus,
fieldset[disabled] .btn-blue-success:focus,
.btn-blue-success.disabled.focus,
.btn-blue-success[disabled].focus,
fieldset[disabled] .btn-blue-success.focus {
    background-color: #5F96FD;
    border-color: #5F96FD;
}

.btn-blue-success .badge {
    color: #5F96FD;
    background-color: #fff;
}

.text-wrap {
    white-space: normal;
}

html,
body {
    height: 100%;
}

.full-height {
    height: 100%;
}

.width-200 {
    width: 200px;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 3px;
}

.pagination>li {
    display: inline;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 8px 16px;
    line-height: 1.5384616;
    text-decoration: none;
    color: #333333;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 0;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    z-index: 2;
    color: #333333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 3;
    color: #fff;
    background-color: #2196F3;
    border-color: #2196F3;
    cursor: default;
}

.pagination>.disabled>span,
.pagination>.disabled>span:hover,
.pagination>.disabled>span:focus,
.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus {
    color: #bbb;
    background-color: #fcfcfc;
    border-color: #ddd;
    cursor: not-allowed;
}

.pagination-lg>li>a,
.pagination-lg>li>span {
    padding: 9px 18px;
    font-size: 14px;
    line-height: 1.4285715;
}

.pagination-lg>li:first-child>a,
.pagination-lg>li:first-child>span {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pagination-lg>li:last-child>a,
.pagination-lg>li:last-child>span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.pagination-sm>li>a,
.pagination-sm>li>span {
    padding: 7px 14px;
    font-size: 12px;
    line-height: 1.6666667;
}

.pagination-sm>li:first-child>a,
.pagination-sm>li:first-child>span {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

.pagination-sm>li:last-child>a,
.pagination-sm>li:last-child>span {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.processingDtable {
    position: inherit;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-left: 250px;
    margin-top: 250px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}